<%= render "users/shared/header" %>
<div class="container mt-5">
  <div class="card mb-4 shadow-sm">
    <div class="card-header">
      <h2 class="mb-4">All Bookings</h2>
    </div>
    <div class="card-body p-0"> 
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
          <thead class="table-light">
            <tr>
              <th>ID</th>
              <th>User</th>
              <th>Hotel</th>
              <th>Check In</th>
              <th>Check Out</th>
              <th>Price</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @bookings.each do |booking| %>
              <tr>
                <td><%= booking.id %></td>
                <td><%= booking.user.email %></td>
                <td><%= booking.hotel.name %></td>
                <td><%= booking.check_in.strftime('%B %d, %Y %H:%M') %></td>
                <td><%= booking.check_out.strftime('%B %d, %Y %H:%M') %></td>
                <td><%= number_to_currency(booking.price) %></td>
                <td><%= booking.status %></td>
                <td>
                  <%= link_to 'Show', booking_path(booking), class: 'btn btn-sm btn-primary' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
