<section class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">This is Listing page</h3>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <a href="/landing-page-show" class="card-link">
                    <div class="card">
                        <img src="<%= asset_path 'welcome/image-1' %>" class="card-img-top" alt="Stunning Views">
                    </div>
                </a>
                <div class="card-body">
                    <p class="mt-1 text-muted small">Hosted by Shashi</p>
                    <p class="mt-1 text-muted small">1 - 1 Oct</p>
                    <p class="mt-1 text-dark small">
                    <span class="fw-semibold">$80</span> night
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <div class="col">
                <a href="/landing-page-show" class="card-link">
                    <div class="card">
                        <img src="<%= asset_path 'welcome/image-1' %>" class="card-img-top" alt="Stunning Views">
                    </div>
                </a>
                <div class="card-body">
                    <p class="mt-0.5 text-sm text-gray-500">Hosted by Shashi</p>
                    <p class="mt-0.5 text-sm text-gray-500"> 1 - 1 Oct</p>
                    <p class="mt-0.5 text-sm font-light text-black">
                        <span class="font-medium">$80</span> night
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <div class="col">
                <a href="/landing-page-show" class="card-link">
                    <div class="card">
                        <img src="<%= asset_path 'welcome/image-1' %>" class="card-img-top" alt="Stunning Views">
                    </div>
                </a>
                <div class="card-body">
                    <p class="mt-0.5 text-sm text-gray-500">Hosted by Shashi</p>
                    <p class="mt-0.5 text-sm text-gray-500"> 1 - 1 Oct</p>
                    <p class="mt-0.5 text-sm font-light text-black">
                        <span class="font-medium">$80</span> night
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <div class="col">
                <a href="/landing-page-show" class="card-link">
                    <div class="card">
                        <img src="<%= asset_path 'welcome/image-1' %>" class="card-img-top" alt="Stunning Views">
                    </div>
                </a>
                <div class="card-body">
                    <p class="mt-0.5 text-sm text-gray-500">Hosted by Shashi</p>
                    <p class="mt-0.5 text-sm text-gray-500"> 1 - 1 Oct</p>
                    <p class="mt-0.5 text-sm font-light text-black">
                        <span class="font-medium">$80</span> night
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <a href="/landing-page-show" class="card-link">
                    <div class="card">
                        <img src="<%= asset_path 'welcome/image-1' %>" class="card-img-top" alt="Stunning Views">
                    </div>
                </a>
                <div class="card-body">
                    <p class="mt-0.5 text-sm text-gray-500">Hosted by Shashi</p>
                    <p class="mt-0.5 text-sm text-gray-500"> 1 - 1 Oct</p>
                    <p class="mt-0.5 text-sm font-light text-black">
                        <span class="font-medium">$80</span> night
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <div class="col">
                <a href="/landing-page-show" class="card-link">
                    <div class="card">
                        <img src="<%= asset_path 'welcome/image-1' %>" class="card-img-top" alt="Stunning Views">
                    </div>
                </a>
                <div class="card-body">
                    <p class="mt-0.5 text-sm text-gray-500">Hosted by Shashi</p>
                    <p class="mt-0.5 text-sm text-gray-500"> 1 - 1 Oct</p>
                    <p class="mt-0.5 text-sm font-light text-black">
                        <span class="font-medium">$80</span> night
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <div class="col">
                <a href="/landing-page-show" class="card-link">
                    <div class="card">
                        <img src="<%= asset_path 'welcome/image-1' %>" class="card-img-top" alt="Stunning Views">
                    </div>
                </a>
                <div class="card-body">
                    <p class="mt-0.5 text-sm text-gray-500">Hosted by Shashi</p>
                    <p class="mt-0.5 text-sm text-gray-500"> 1 - 1 Oct</p>
                    <p class="mt-0.5 text-sm font-light text-black">
                        <span class="font-medium">$80</span> night
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
            <div class="col">
                <a href="/landing-page-show" class="card-link">
                    <div class="card">
                        <img src="<%= asset_path 'welcome/image-1' %>" class="card-img-top" alt="Stunning Views">
                    </div>
                </a>
                <div class="card-body">
                    <p class="mt-0.5 text-sm text-gray-500">Hosted by Shashi</p>
                    <p class="mt-0.5 text-sm text-gray-500"> 1 - 1 Oct</p>
                    <p class="mt-0.5 text-sm font-light text-black">
                        <span class="font-medium">$80</span> night
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    </div>
</section>