
<h1><%= @hotel.name %></h1>

<p>
  <strong>Description:</strong>
  <%= @hotel.description %>
</p>

<p>
  <strong>Hotel Type:</strong>
  <%= @hotel.hotel_type.name %> <!-- Assuming `hotel_type` association is set up and has a `name` attribute -->
</p>

<p>
  <strong>Total Rooms:</strong>
  <%= @hotel.total_rooms %>
</p>

<p>
  <strong>Available Rooms:</strong>
  <%= @hotel.available_rooms %>
</p>

<%= link_to 'Edit Hotel', edit_hotel_path(@hotel), class: 'btn btn-primary' %> |
<%= link_to 'Back to Hotels', hotels_path, class: 'btn btn-secondary' %>
